<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}} - ITE5315 Assignment 2</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <header>
        <h1>ITE5315 Assignment 2</h1>
        <p>JohnS Shaize - Student ID: N01613527</p>
    </header>

    <main class="content">
        {{{body}}}
    </main>

    <footer>
        <p>Email: N01613527@humber.ca</p>
    </footer>
</body>
</html>